body {
	font-family: 'Roboto';font-size: 16px;
}

table {
	border-collapse: collapse;
}

.init {
	height: 30px;
}

.initrows {
	padding-left: 5px;
}

.datarows {
	padding: 5px;
}

.leftalign {
	text-align: left;
}

.column{
	float: left;
	width: 50%;
}